@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Lato:wght@400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e0e0e0; 
}

h1 {
  font-weight: 900;
  color: #0061FF;
}

h2 {
  font-weight: 700;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: #e0e0e0;
  border: #bababa48 1px solid;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 5px 5px 15px #bababa, 
              -5px -5px 15px #ffffff;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

i {
  color: hsl(206, 17%, 28%);
  font-size: 25px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  border: #bababa48 1px solid;
  box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #ffffff;
  color: hsl(206, 17%, 28%);
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #e0e0e0;
  box-shadow: inset 5px 5px 10px #bababa, inset -5px -5px 10px #ffffff;
  color: #0061FF;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

textarea {
  align-content: center;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 65px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #003C9D;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  font-family: 'Fira Code', monospace;
  color: #ffffff;
}

#password::placeholder {
  font-family: 'Fira Code', monospace;
  color: #ffffff;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
